*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    background-color: rgba(50, 50, 50, 0.644);
    text-align: center;
    margin-bottom: 20px;
}

.menu ul{
    list-style: none;
    display: inline-flex;
}

.menu ul li{
    width: 150px;
    margin: 15px;
    padding: 15px;
}

.menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-family: Arial;
    padding: 15px;
    font-style: bold;
}

.menu ul li a:hover{
    color: black;
    background-color: white ;
}

.banner{
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
}

.banner img{
    width: 100%;
}

.banner h1{
    text-transform: uppercase;
    color:white;
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 40px;
}

.team{
    text-align: center;
    background-position: center;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
    overflow: hidden;
    border: 2px solid red;
}

.team .teamImages{
    display: inline-flex;
}

.team .teamImages .div .img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    padding: 5px;
}